* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    margin-top: 5rem;
    height: 50vh;
    background-color: #fffcf8;
}

#quadro, #guirlanda, #meia, #presente, #vela, #caneca {
    cursor: pointer;
}

.inicio {
    display: block;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    padding-top: 12rem;
}

.modal {
    display: none;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 2rem;
}

.modal__texto {
    padding-bottom: 1.5rem;
}

.modal__botao {
    justify-self:end;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 0.5rem;
    padding-inline: 1.5rem;
    margin: 0.5rem;
    color: #ffffff;
}

#chamine {
  pointer-events: none;
}

.item {
    display: block;
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    padding-top: 12rem;
}


#guirlandaApagada {
    position: fixed;
    z-index: 1000;
    width: 30%;
    padding-left: 40%;
    padding-top: 4%;
    display: none;
}

#presenteAberto {
    position: fixed;
    z-index: 1000;
    width: 35%;
    padding-left: 2%;
    padding-top: 78%;
    display: none;
}

#presenteEmbalado2 {
    position: fixed;
    z-index: 1000;
    width: 35%;
    padding-left: 2%;
    padding-top: 78%;
    display: none;
}