* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #fffcf8;
    background-image: url(./assets/fundo.jpg);
    background-repeat: no-repeat;
    background-size: 60rem;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 7rem;
    gap: 2rem;
}

.titulo {
     font-family: "Marck Script";
     font-size: 4rem;
     color: rgb(121, 5, 5);
}

.descricao {
    color: #ffff;
    font-size: 1.5rem;
    font-weight: lighter;
    width: 75%;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(121, 5, 5);
    width: 10rem;
    height: 4rem;
    border-radius: 0.3rem;
    text-decoration: none;
    color: #ffff;
    font-size: 2rem;
}
